body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: rgb(24, 22, 22);
}

::selection{
    background-color:rgba(223, 133, 73, 0.603);
}

a{
    color: inherit;
    text-decoration: inherit;
}

/**** HEADER ****/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 2vw;

    font-family: 'Staatliches';
    font-size: 30px;
    user-select: none;
    color: rgb(24, 22, 22);

    position: sticky;
    top: 0;
    z-index: 10;

    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

header>a{
    transition: 0.2s;
    cursor: pointer;
    padding: 6px 25px;
    border-radius: 4px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

header>a:hover{
    color: rgb(253, 101, 0);
}

.orange{
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    color: rgb(253, 101, 0);
    cursor: unset;
}

header>img{
    padding: 10px;
    content: url("../img/lune.svg");
    position: absolute;
    height: 30px;
    right: 23px;
    cursor: pointer;
}

.soleil{
    content: url("../img/soleil.svg");
    height: 40px;
    right: 20px;
}

/**** MAIN ****/

/* Image */

.divphoto>img{
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.divphoto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.divphoto>h1{
    position: absolute;
    font-size: 70px;
    padding: 2vh 4vw;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-radius: 3vh;
}

.petitTitre{
    font-size: 50px;
    color: rgba(255, 255, 255, 0.80);
}

/* Présentation */

.divpresentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 150px; 
    gap: 30px;
}

.photoDeMoi{
    margin-top: 30px;
    height: 300px;
    border-radius: 100%;
    -webkit-user-drag: none;
    user-select: none;
}

.presentation{
    font-size: 22px;
    text-align: center;
    width: 50vw;
}

h2{
    font-family: 'Staatliches';
    font-size: 45px;
    font-weight: normal;
    margin: 0 auto 20px;
}

.presentation a{
    color: rgb(253, 101, 0);
}

.textePres{
    margin-top: 20px;
}

.telechargerCV{
    text-align: center;
    margin: 25px;
    font-size: 22px;
    padding: 10px;
    background:rgb(255, 148, 77);
    color: white;
    border-radius: 10px;
    user-select: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.downloadPicto{
    filter: invert(1);
    height: 20px;
    margin: 0 5px -2px 0;
}

.presGauche{
    display: grid;
}

/**** FOOTER ****/

footer{
    display: flex;
    align-items: center;
    background:rgb(24, 22, 22); 
    padding: 3vh 3vh;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footerLeft{
    display: flex;
    gap: 20px;
}

.footerLeft div{
    display: flex;
}

.up{
    position: absolute;
    height: 40px;
    z-index: 3;
    margin-left: 50%;
    cursor: pointer;
}

/**** BARRE DE SCROLL ****/

::-webkit-scrollbar{
    width: 0.75vw;
}
  
::-webkit-scrollbar-track{
    background: rgb(224, 224, 224);
}

::-webkit-scrollbar-thumb{
    background: rgb(255, 148, 77);
    border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(253, 101, 0);
}

/**** DARK MODE ****/

.fondNoir{
    background: rgb(36, 40, 46);
    color: white;
    transition: 0.2s;
}

.aNoir{
    background: rgb(36, 40, 46);
    color: white;
    transition: 0.2s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.aNoir:hover{
    color: rgb(253, 101, 0);
}

.laPage{
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: rgb(253, 101, 0);
    cursor: unset;
}

.fondNoir2{
    background: rgb(36, 40, 46);
    color: white;
    transition: 0;
}

.aNoir2{
    background: rgb(36, 40, 46);
    color: white;
    transition: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}